.table {
  width: 50%;
}

.dailymoods-col {
  width: 105px;
  margin: 0;
  padding-right: 5px;
  padding-left: 5px;
}
/*.divStyle {
  border-radius: 50%;
}*/

.app-container h1 {
margin-left: 50px;
}

.alert {
  /*background-color: lightgray;*/
  margin-top: 1em;
}

.date-location {
  font-size: 80%;
  padding-bottom: 0;
  padding-top: 1em;
}

.showUserMoods {
  background-color: lightgray;
}

.saveDailymoodsForm {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 50px;
  background-color: lightgray;

}
.dailymoods-button,
.deleteuser-button {
  margin-top: 15px;
  margin-left: 50px;
}
